.reorder-row { background: #FFF; display: flex; padding: 10px 5px; margin-top: 20px }
    .reorder-row .rename { flex-grow: 3 }
    .reorder-row .reorder { flex-grow: 1 }
    .reorder-row input[type="text"] { width: 80% !important; }

.woooe-cf { display: table; width: 95%; }
.woooe-cf-row {display: table-row; background: #FFF; }
    .woooe-cf-row-head {background: none;display: table-row;}
    .woooe-cf-key, .woooe-cf-name, .woooe-cf-action {display: table-cell; padding: 10px;}
    
#woooe-error-msg { padding: 10px; font-size: 1.1em; }